{% extends 'base.html' %}
{% block content%} 

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Aseel Ecommerce...</p>
        </div>
    </div>
</header>
     <div class="container">
         <div class="row">
            <center>
                <div class="col-8">  
                    <br/> <br/> 
                      <h2> Aseel Darwish</h2>
                      <h3> Computer Science</h3>
                      <br/> <br/> <br/>
                    <h4> PROFILE</h4>
                      <p align="justify"> 
                        My name is Aseel Kamal Darwish. I studied at Palestine
Technical University - Kadoorie, Ramallah Branch, specializing
in Applied Computing (Computer Science), and graduated with
a GPA of 84.6%, which is very good.
                      </p> 
                      <br/> <br/> 
                      <h4> CONTACT</h4>
                      <p align="justify"> 056-645-0457 </p>
                      <p align="justify"> aseel.k.darwish@gmail.com</p>
                      <p align="justify"> Ramallah</p>
                </div>
            </center>
         </div>
     </div>
{%endblock%}